{% extends 'theme.html' %}

{% block content %}

<div class="container">
    <div class="row">

        {% for hero in object_list %}

        <div class="card col-4 m-5 p-5  bg-light text-dark ">

            <p>
                <a href="{{ hero.pk }}">
                    <b>{{ hero.name }}</b>
                </a>
            </p>
            <p>
                <img class="photo" src="/{{ hero.picture }}" width = "50">
            </p>

        </div>

        {% endfor %}

    </div>

    <div class="bg-dark text-light">
        <a href="/admin/" class="btn bg-success text-light m-5">Admin Views</a>
    </div>
</div>




{% endblock content %}